.feature {
    background-color: #FFFFFF;
    height: 100vh;
}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px ;
}

.feature-image img {
    max-width: 10px;
    max-height: 530px;
    margin-left: -50px;
}

.feature-first {
    display: flex;
    align-items: center;
    margin-top: 70px;
}


.feature-title h2 {
    color: #000000;
    font-style: normal;
    font-size: 115px;
    font-family: "DM Serif Display", serif;
    letter-spacing: -6px;
    transform: rotate(-90deg);
}

.feature-side p {
    max-width: 924px;
    max-height: 605px;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
}

.feature-side p {
    align-items: center;
    margin-top: 70px;
}