.registration {
    background-color: #001124;
    height: 100vh;
}

.input-form {
    margin-top: -15px;
}

.sh-title {
    margin-top: -15px;
}

.registration-content {
    display: flex;
    align-items: center;
    gap: 100px;
}

.first-half img {
    max-width: 300px;
    margin-top: 60px;
    margin-left: 200px;
}

.second-half {
    margin-top: 15px;
}

.sh-title h2 {
    color: #FFFFFF;
    font-style: normal;
    font-size: 45px;
    font-family: "DM Serif Display", serif;
}

.first-form {
    display: flex;
    flex-direction: column;
}

.second-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.third-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.fourth-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.fifth-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sixth-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.seventh-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.main-form {
    font-size: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-family: "Padauk", sans-serif;
}

.reg-input {
    width: 361px;
    height: 35px;
    border: none;
    padding: 2px 2px 2px 10px;
    padding-right: 30px;
}

.reg-but {
    margin-top: 10px;
    margin-left: -5px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.visibility-toggle {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 20px;
}




/* .second-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.main-form {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    font-family: "DM Serif Display", serif;
}

.reg-input {
    width: 100%;
    max-width: 350px;
    height: 50px;
    border: 1px solid #D3D3D3;
    padding: 10px;
    font-family: "DM Serif Display", serif;
    font-size: 16px;
    color: #333333;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><path fill="%23999999" d="M0 0l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 5px;
    outline: none;
    transition: border-color 0.3s;
}

.reg-input:hover {
    border-color: #888;
}

.reg-input:focus {
    border-color: #499FFE;
    box-shadow: 0 0 5px rgba(73, 159, 254, 0.5);
}

.reg-input option {
    color: #333;
} */