.user-navbar {
    background-color: transparent;
    display: flex;
   justify-content: right;
    align-items: center;
    gap: 50px;
}

.user-nav {
    display: flex;
    gap: 50px;
}

.usernav-one,
.usernav-two,
.usernav-three {
    font-size: 25px;
    font-style: normal;
    color: #FFFFFF;
    font-family: "DM Serif Display", serif;
    text-decoration: none;
    position: relative;
}

.usernav-one::after,
.usernav-two::after,
.usernav-three::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #015FC7;
    transition: width 0.3s ease-in-out;
}

.usernav-one:hover::after,
.usernav-two:hover::after,
.usernav-three:hover::after {
    width: 100%;
}

.vote {
    background-color: #015FC7;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

