.navbar {
    background-color: none;
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-top: 30px;
    align-items: center;
    gap: 50px;
}

.navbar ul {
    display: flex;
    gap: 50px;
}

.navbar li a {
    font-size: 25px;
    font-style: normal;
    color: #FFFFFF;
    font-family: "DM Serif Display", serif;
    text-decoration: none;
}

.underline-from-left {
    position: relative;
}

.underline-from-left::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
    color: #015FC7;
}

.underline-from-left:hover::after {
    width: 70%;
}